<div class="front-page col-lg-12">
    <div class="fp-main-content col-lg-8">
        <div class="fp-top col-lg-12">
            {{ content.top }}
        </div>
        <div class="fp-middle col-lg-12">
            <div class="fp-middle-left col-lg-6">
                {{ content.middle_left }}
            </div>
            <div class="fp-middle-right col-lg-6">
                {{ content.middle_right }}
            </div>
        </div>
        <div class="fp-bottom col-lg-12">
            {{ content.bottom }}
        </div>
    </div>
    <div class="fp-sidebar-right col-lg-4">
        {{ content.sidebar_right }}
    </div>
</div>